# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*_exe
*.exe
*.out
*.app

# VS
*.sdf
*.sln
*.suo
*.opensdf
*.filters
*.vcxproj*
test.*

# live555
live555MediaServer
live555ProxyServer
live/mediaServer/live555MediaServer
live/mediaServer/live555MediaServer
live/proxyServer/live555ProxyServer
live/proxyServer/live555ProxyServer
live/mediaServer/live555MediaServer
live/proxyServer/live555ProxyServer
